h1 {
    text-align: center;
}

p {
    color: red;
   text-align: center;
}

img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header {
    background: grey;
    text-align: center;
    font-size: 48pt;
}

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid green;
}

.text{
    display: block;
    margin-left: auto;
    margin-right: auto;
}